{% extends "dashboard.html" %}
{% block scripts %}{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% block title %}List Doctorants{% endblock %}
{% block content %}
<div class="border p-3 my-3 row">
        <div class="col-12 col-md-8">
            <h3>List des Doctorants </h3>
            <form action="{% url 'doctorant-list' %}" method="get" class="d-flex flex-direction-column flex-direction-md-row">
                <input name="search" class="form-control" type="text" placeholder="{% trans 'Search' %}...">
                <button type="submit" class="btn btn-secondary">{% trans 'Search' %}</button>
            </form>
        </div>
        <div class="col-12 col-md-4 d-flex">
            <a class="btn btn-primary mt-auto ms-auto" href="{% url 'doctorant-create' %}">{% trans 'Add' %}</a>
        </div>
</div>
{% bootstrap_pagination page_obj extra=search %}
<div class="table-responsive">
<table class="table table-responsive border">
    <thead>
    <tr scope="row">
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">CIN</th>
        <th scope="col">CNE</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for doc in doctorants %}
            <tr id="doctorant-{{doc.id}}">
                <td>{{doc.nom}}</td>
                <td>{{doc.prenom}}</td>
                <td>{{doc.cin}}</td>
                <td>{{doc.cne}}</td>
                <td class="d-flex justify-content-end">
                    {% if doc.inscriptions.count > 2 %}
                        {% if doc.soutenance %}
                        <a class="btn btn-outline-secondary me-3" href="{% url 'soutenance-detail' doc.id %}">
                            <i class="fas fa-chalkboard-teacher"></i> Soutenance
                        </a>
                        {% else %}
                        <a class="btn btn-outline-secondary me-3 btn-ajax-form" href="{% url 'soutenance-create' doc.id %}">
                            <i class="fas fa-chalkboard-teacher"></i> Soutenance
                        </a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-outline-info me-3" href="{% url 'doctorant-detail' doc.id %}">
                        <i class="fas fa-info-circle"></i> Détails
                    </a>
                    <a class="btn btn-outline-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ doc }} ?" data-target="#doctorant-{{doc.id}}" href="{% url 'doctorant-delete' doc.id %}">
                        <i class="fas fa-trash"></i> {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}