{% extends "dashboard.html" %}
{% block scripts %}{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% block title %}{{doctorant}}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 col-lg-3 px-0">
            <div class="border p-3 me-3 d-flex justify-content-between">
                <button class="enable-edit-form btn btn-primary" data-target="#doctorant-edit-form">Modifier</button>
                {% if doctorant.inscriptions.count %}
                    {% if doctorant.soutenance %}
                    <a class="btn btn-secondary text-white ms-auto me-3" href="{% url 'soutenance-detail' doctorant.id %}">
                        <i class="fas fa-chalkboard-teacher"></i> Soutenance
                    </a>
                    {% else %}
                    <a class="btn btn-secondary text-white ms-auto me-3 btn-ajax-form" href="{% url 'soutenance-create' doctorant.id %}">
                        <i class="fas fa-chalkboard-teacher"></i> Soutenance
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <form id="doctorant-edit-form" class="d-flex flex-wrap align-items-center justify-content-between border p-3 me-3 flex-form" enctype="multipart/form-data" action="{% url 'doctorant-edit' doctorant.pk %}" method="post">
            {{ doctorant.photo_preview }}
                <fieldset disabled>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons submit=_('Save') reset=_('Clear') %}{% endbuttons %}
                <fieldset>
            </form>
        </div>
        <div class="col-12 col-md-7 col-lg-9 px-0">
            <div class="mb-3">
                <div class="border p-2 d-flex justify-content-between ">
                    <h3 class="text-decoration-underline">Inscriptions :</h3>
                    {% if not doctorant.soutenance %}
                    <a class="btn btn-primary btn-ajax-form" href="{% url 'inscription-create' doctorant.pk %}">{% trans 'Add' %}</a>
                    {% endif %}
                </div>
                <div class="border table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr scope="row">
                                <th scope="col">Année</th>
                                <th scope="col">Sujet</th>
                                <th scope="col">Détail de Sujet</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inscription in doctorant.inscriptions.all %}
                            <tr id="inscription-{{inscription.id}}">
                                <td>{{inscription.annee}}</td>
                                <td>{{inscription.sujet}}</td>
                                <td>{% firstof  inscription.sujet_detail or "--" %}</td>
                                <td class="d-flex">
                                {% if not doctorant.soutenance %}
                                    <a class="btn btn-info text-white ms-auto me-3 btn-ajax-form" href="{% url 'inscription-detail' doctorant.pk inscription.pk %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-ajax-delete" data-message="Si vous supprimez cette Inscription, les Publications associées à celle-ci seront également supprimées. Etes-vous sûr que vous voulez supprimer {{ inscription }} ?" data-target="#inscription-{{inscription.id}}" href="{% url 'inscription-delete' doctorant.pk inscription.pk %}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif%}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-3">
                <div class="border p-2 d-flex justify-content-between ">
                    <h3 class="text-decoration-underline">Publications :</h3>
                    <a class="btn btn-primary btn-ajax-form" href="{% url 'publication-create' doctorant.pk %}">{% trans 'Add' %}</a>
                </div>
                <div class="border table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr scope="row">
                                <th scope="col">Inscription</th>
                                <th scope="col">Sujet</th>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Date</th>
                                <th scope="col">Lien</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inscription in doctorant.inscriptions.all %}
                                {% for publication in inscription.publications.all %}
                                    <tr id="publication-{{publication.id}}">
                                        <td>{{inscription}}</td>
                                        <td>{{inscription.sujet}}</td>
                                        <td>{{publication.intitule}}</td>
                                        <td>{{publication.date}}</td>
                                        <td>{% firstof publication.url or "--" %}</td>
                                        <td class="d-flex justify-content-end">
                                            <a class="btn btn-info text-white ms-auto me-3 btn-ajax-form" href="{% url 'publication-edit' doctorant.pk publication.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ publication }} ?" data-target="#publication-{{publication.id}}" href="{% url 'publication-delete' doctorant.pk publication.pk %}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-3">
                <div class="border p-2 d-flex justify-content-between">
                    <h3 class="text-decoration-underline">Cursus :</h3>
                    <a class="btn btn-primary btn-ajax-form" href="{% url 'cursus-create' doctorant.pk %}">{% trans 'Add' %}</a>
                </div>
                <div class="border table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr scope="row">
                                <th scope="col">Type</th>
                                <th scope="col">Spécialité</th>
                                <th scope="col">Etablissement</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Année</th>
                                <th scope="col">Durée</th>
                                <th scope="col">Mention</th>
                                <th scope="col">Moyenne</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cursus in doctorant.cursus.all %}
                            <tr id="cursus-{{cursus.id}}">
                                <td>{{cursus.type}}</td>
                                <td>{{cursus.specialite}}</td>
                                <td>{{cursus.etablissement}}</td>
                                <td>{{cursus.ville}}</td>
                                <td>{{cursus.annee}}</td>
                                <td>{{cursus.get_duree}}</td>
                                <td>{{cursus.mention}}</td>
                                <td>{{cursus.moyenne}}</td>
                                <td>
                                    <a class="btn btn-info text-white ms-auto me-3 btn-ajax-form" href="{% url 'cursus-detail' doctorant.pk cursus.pk %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ cursus }} ?" data-target="#cursus-{{cursus.id}}" href="{% url 'cursus-delete' doctorant.pk cursus.pk %}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-3">
                <div class="border p-2 d-flex justify-content-between ">
                    <h3 class="text-decoration-underline">Retraits :</h3>
                    <a class="btn btn-primary btn-ajax-form" href="{% url 'retrait-create' doctorant.pk %}">{% trans 'Add' %}</a>
                </div>
                <div class="border table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr scope="row">
                                <th scope="col">Document</th>
                                <th scope="col">Date de retrait</th>
                                <th scope="col">Date de retour</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for retrait in doctorant.retraits.all %}
                            <tr id="retrait-{{retrait.id}}" class="{% if retrait.definitif %}table-secondary{% elif retrait.is_late %}table-danger{% endif %}">
                                <td scope="col">{{ retrait.type }}</td>
                                <td scope="col">{{ retrait.created_at }}</td>
                                <td scope="col">{{ retrait.return_date }}</td>
                                <td>
                                
                                    <a class="btn btn-info text-white ms-auto me-3 btn-ajax-form" href="{% url 'retrait-detail' doctorant.pk retrait.pk %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% if not retrait.definitif %}
                                    <a class="btn btn-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ retrait }} ?" data-target="#retrait-{{retrait.id}}" href="{% url 'retrait-delete' doctorant.pk retrait.pk %}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}