body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    font-family: "Nunito", sans-serif;
    background-color: rgba(33,37,41,0.01);
}
main{
    min-height: 92vh;
    padding-bottom: 3rem;
}
.welcome-cover{
    height: 94vh;
    width: 100%;
    background-color: gray;
    background-image: url("/static/img/welcome.jpg");
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFF;
    font-size: large;
    font-weight: bold;
    text-shadow: #000 1px 0 10px;
    background-color: rgba(0,0,0,.3);
}
.nav-link.active, .page-item.active{
    background-color: rgba(0,0,0,.6) !important;
    border-color: rgba(0,0,0,.6) !important;
}

.flex-form > div{
    margin:0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6!important;
    flex:auto;
}
fieldset:disabled button{
    display: none;
}
a.card{
    text-decoration: none;
    color: var(--bs-gray-900);
    box-shadow: 0.5em 0.5rem 1rem rgba(117,117,94,.2);
}
.min-w-max-centent{
    min-width: max-content;
}
.min-w-7{
    min-width: 7rem;
}
.max-w-fit-content{
    max-width: fit-content;
}
.empty{
    background-color: rgba(255,0,0,.1);
}
.non-empty{
    background-color: rgba(0,255,0,.1);
}
.canvas-container{
    width: 20rem;
}
.swal-pdf-preview{
    min-width: 22cm !important;
    height: 30cm !important;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif !important;
}
.pdf-header{
    border-bottom: 5px solid #1D49A3;
    padding-bottom: 0.3cm;
}