{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
<div class="d-flex flex-column py-3 bg-dark sidebar sticky">
  <ul class="nav nav-pills flex-column mb-auto">
    {% url 'dashboard' as dashboard %}
    {% if dashboard and perms.Dashboard.view_dashboard %}
    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link text-light {% if 'dashboard' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fas fa-columns mr-2"></i>
        <span class="ms-2">{% trans 'Dashboard' %}</span>
      </a>
    </li>
    {% endif %}

    {% url 'departement-list' as departement_list %}
    {% if departement_list and perms.Administration.view_departement %}
    <li class="nav-item">
      <a href="{% url 'departement-list' %}" class="nav-link text-light {% if 'departement' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fas fa-building mr-2"></i>
        <span class="ms-2">{% trans 'Départements' %}</span>
      </a>
    </li>
    {% endif %}

    {% url 'enseignant-list' as enseignant_list %}
    {% if enseignant_list and perms.Administration.view_enseignant %}
    <li class="nav-item">
      <a href="{% url 'enseignant-list' %}" class="nav-link text-light {% if 'enseignant' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fas fa-user-tie mr-2"></i>
        <span class="ms-2">{% trans 'Enseignants' %}</span>
      </a>
    </li>
    {% endif %}

    {% url 'doctorant-list' as doctorant_list %}
    {% if doctorant_list and perms.Etudiant.view_doctorant %}
    <li class="nav-item">
      <a href="{% url 'doctorant-list' %}" class="nav-link text-light {% if 'doctorant' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fas fa-user-graduate mr-2"></i>
        <span class="ms-2">{% trans 'Doctorants' %}</span>
      </a>
    </li>
    {% endif %}

    {% url 'formation-list' as formation_list %}
    {% if formation_list and perms.Administration.view_formation %}
    <li class="nav-item">
      <a href="{% url 'formation-list' %}" class="nav-link text-light {% if 'formation' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fas fa-chalkboard-teacher"></i>
        <span class="ms-2">{% trans 'Formations' %}</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>