{% extends "dashboard.html" %}
{% block scripts %}{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% block title %}List des Enseignants{% endblock %}
{% block content %}
<div class="border p-3 my-3 row">
        <div class="col-12 col-md-8">
            <h3>List des Enseignants</h3>
            <form action="{% url 'enseignant-list' %}" method="get" class="d-flex flex-direction-column flex-direction-md-row">
                <input name="search" class="form-control" type="text" placeholder="{% trans 'Search' %}..." autofocus>
                <button type="submit" class="btn btn-secondary">{% trans 'Search' %}</button>
            </form>
        </div>
        <div class="col-12 col-md-4 d-flex">
            <a class="btn btn-outline-primary mt-auto ms-auto btn-ajax-form" href="{% url 'enseignant-create' %}">{% trans 'Add' %}</a>
        </div>
</div>

{% bootstrap_pagination page_obj extra=search %}
<div class="table-responsive">
<table class="table table-responsive border">
    <thead>
    <tr scope="row">
        <th scope="col">Grade</th>
        <th scope="col">Nom</th>
        <th scope="col">Prènom</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Email</th>
        <th scope="col">Etablissement</th>
        <th scope="col">Directeur de laboratoire</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for ens in enseignants %}
            <tr id="enseignant-{{ens.id}}">
                <td>{% firstof ens.grade or "--" %}</td>
                <td>{% firstof ens.nom or "--" %}</td>
                <td>{% firstof ens.prenom or "--" %}</td>
                <td>{% firstof ens.telephone or "--" %}</td>
                <td>{% firstof ens.email or "--" %}</td>
                <td>{% firstof ens.etablissement or "--" %}</td>
                <td>{% firstof ens.get_current_laboratoire.acronyme or "--" %}</td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-outline-info me-3" href="{% url 'enseignant-detail' ens.pk %}">
                        <i class="fas fa-info-circle"></i>
                        Détails
                    </a>
                    <a class="btn btn-outline-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ ens }} ?" data-target="#enseignant-{{ens.id}}" href="{% url 'enseignant-delete' ens.pk %}">
                        <i class="fas fa-trash"></i>
                        {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}