{% extends "dashboard.html" %}
{% block scripts %}{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% block title %}{{enseignant}}{% endblock %}
{% block content %}
<div class="row">
    <div class="border p-3 me-3 d-flex">
        <h1>{{enseignant}}</h1>
        <button class="enable-edit-form btn btn-outline-danger ms-auto" data-target="#enseignant-edit-form">Modifier</button>
    </div>
    <form id="enseignant-edit-form" class="d-flex flex-wrap align-items-center justify-content-between border p-3 me-3 flex-form" action="{% url 'enseignant-edit' enseignant.pk %}" method="post">
        <fieldset class="d-flex flex-wrap w-100 flex-column flex-md-row justify-content-between" disabled>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit=_('Save') reset=_('Clear') %}{% endbuttons %}
        <fieldset>
    </form>
</div>
<div class="row">
    <div class="border p-2 d-flex justify-content-between">
        <h3 class="text-decoration-underline">Sujets :</h3>
        <a class="btn btn-outline-primary btn-ajax-form" href="{% url 'sujet-create' enseignant.pk %}">{% trans 'Add' %}</a>
    </div>
    <div class="border table-responsive">
        <table class="table">
            <thead>
                <tr scope="row">
                    <th scope="col">Année</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Laboratoire</th>
                    <th scope="col">Co-Directeur</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for sujet in enseignant.sujets.all %}
                <tr id="sujet-{{sujet.id}}">
                    <td>{{sujet.annee}}</td>
                    <td>{{sujet.intitule}}</td>
                    <td>({{sujet.laboratoire.acronyme}})</td>
                    <td>{% firstof sujet.co_directeur or "--" %}</td>
                    <td class="d-flex">
                        <a class="btn btn-outline-info ms-auto me-3 btn-ajax-form" href="{% url 'sujet-detail' enseignant.pk sujet.pk %}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ sujet }} ?" data-target="#sujet-{{sujet.id}}" href="{% url 'sujet-delete' enseignant.pk sujet.pk %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="border p-2 d-flex justify-content-between">
        <h3 class="text-decoration-underline">Co-Sujets :</h3>
    </div>
    <div class="border table-responsive">
        <table class="table">
            <thead>
                <tr scope="row">
                    <th scope="col">Année</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Laboratoire</th>
                    <th scope="col">Directeur</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for sujet in enseignant.co_sujets.all %}
                <tr id="sujet-{{sujet.id}}">
                    <td>{{sujet.annee}}</td>
                    <td>{{sujet.intitule}}</td>
                    <td>({{sujet.laboratoire.acronyme}})</td>
                    <td>{{sujet.directeur}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}