{% extends "dashboard.html" %}
{% block scripts %}{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% block title %}List des Formations{% endblock %}
{% block content %}
<div class="border p-3 my-3 row">
        <div class="col-12 col-md-8">
            <h3>List des Formations</h3>
            <form action="{% url 'formation-list' %}" method="get" class="d-flex flex-direction-column flex-direction-md-row">
                <input name="search" class="form-control" type="text" placeholder="{% trans 'Search' %}...">
                <button type="submit" class="btn btn-secondary">{% trans 'Search' %}</button>
            </form>
        </div>
        <div class="col-12 col-md-4 d-flex">
            <a class="btn btn-primary mt-auto ms-auto btn-ajax-form" href="{% url 'formation-create' %}">{% trans 'Add' %}</a>
        </div>
</div>
{% bootstrap_pagination page_obj extra=search %}
<div class="table-responsive">
<table class="table table-responsive border">
    <thead>
    <tr scope="row">
        <th scope="col">Acronyme</th>
        <th scope="col">Intitule</th>
        <th scope="col">Description</th>
        <th scope="col">Coordonateur</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
            <tr id="formation-{{formation.id}}">
                <td>{{formation.acronyme}}</td>
                <td>{{formation.intitule}}</td>
                <td>{{formation.description}}</td>
                <td>{{formation.co_ordonateur}}</td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-info text-white me-3" href="{% url 'formation-detail' formation.pk %}">
                        <i class="fas fa-info-circle"></i>
                        Détails
                    </a>
                    <a class="btn btn-danger btn-ajax-delete" data-message="Etes-vous sûr que vous voulez supprimer {{ formation }} ?" data-target="#formation-{{formation.id}}" href="{% url 'formation-delete' formation.pk %}">
                        <i class="fas fa-trash"></i>
                        {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}