{% extends "base.html" %}
{% load bootstrap5 %}
{% block main %}
    <div class="main-content container-fluid mb-5">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center {% if departements.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2 text-right">
                        <i class="fas fa-building fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{departements.count}} Départements</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="departements-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if enseignants.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-user-tie fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{enseignants.count}} Enseignants</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="enseignants-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if doctorants.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-user-graduate fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{doctorants.count}} Doctorants</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="doctorants-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if laboratoires.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-microscope fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{laboratoires.count}} Laboratoires</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="laboratoires-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if formations.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-chalkboard-teacher fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{formations.count}} Formations</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="formations-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if inscriptions.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-edit fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{inscriptions.count}} Inscriptions</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="inscriptions-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if sujets.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-scroll fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{sujets.count}} Sujets</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="sujets-chart"></canvas></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="card p-2 align-items-center align-items-center align-items-center {% if publications.count %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-book fa-3x mr-2"></i>
                    </div>
                    <div class="col text-center">
                        <h3><strong>{{publications.count}} Publications</strong></h3>                       
                    </div>
                </div>
                <div class="row canvas-container"><canvas  id="publications-chart"></canvas></div>
            </div>
        </div>
    </div>
    {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
<script defer>
new Chart(document.getElementById('departements-chart'),{
        type: 'polarArea',
        data: {
            labels: {{departements.labels|safe}},
            datasets: [{
            label: 'Laboratoires',
            backgroundColor: {{departements.colors|safe}},
            borderColor: '#FFF',
            data: {{departements.data|safe}}
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('enseignants-chart'),{
        type: 'doughnut',
        data: {
            labels: {{enseignants.labels|safe}},
            datasets: [{
            label: 'Laboratoires',
            backgroundColor: {{enseignants.colors|safe}},
            borderColor: '#FFF',
            data: {{enseignants.data|safe}}
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('doctorants-chart'),{
        type: 'doughnut',
        data: {
            labels: {{doctorants.labels|safe}},
            datasets: [{
                label: 'Laboratoires',
                backgroundColor: {{doctorants.colors|safe}},
                borderColor: '#FFF',
                data: {{doctorants.data|safe}}
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('inscriptions-chart'),{
        type: 'bar',
        data: {
            labels: {{inscriptions.labels|safe}},
            datasets: [{
                label: 'Inscriptions / Année',
                backgroundColor: {{inscriptions.colors|safe}},
                borderColor: '#FFF',
                data: {{inscriptions.data|safe}}
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('laboratoires-chart'),{
        type: 'radar',
        data: {
            labels: {{laboratoires.labels|safe}},
            datasets: [{
                label: 'Sujets / Laboratoire',
                backgroundColor: {{laboratoires.colors|safe}},
                borderColor: '#FFF',
                data: {{laboratoires.data|safe}}
            }]
        },
        options: {
            scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
    }
);
new Chart(document.getElementById('sujets-chart'),{
        type: 'bar',
        data: {
            labels: {{sujets.labels|safe}},
            datasets: [{
                label: 'Sujets / Année',
                backgroundColor: {{sujets.colors|safe}},
                borderColor: '#FFF',
                data: {{sujets.data|safe}}
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('publications-chart'),{
        type: 'bar',
        data: {
            labels: {{publications.labels|safe}},
            datasets: [{
                label: 'Publications / Année',
                backgroundColor: {{publications.colors|safe}},
                borderColor: '#FFF',
                data: {{publications.data|safe}}
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('formations-chart'),{
        type: 'radar',
        data: {
            labels: {{formations.labels|safe}},
            datasets: [{
                label: 'Complèmentaires / Doctorale',
                backgroundColor: {{formations.colors|safe}},
                borderColor: '#FFF',
                data: {{formations.data|safe}}
            }]
        },
        options: {
            scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
    }
);
</script>
{% endblock %}