{% extends "base.html" %}
{% load bootstrap5 %}
{% block main %}
    {% include "includes/sidebar.html" %}
    <div class="main-content container-fluid mt-1 mb-5">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}
    <div class="row">
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-building fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{departements}}</strong>
                        <h6 class="min-w-7"><strong>Départements</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if enseignants %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-user-tie fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{enseignants}}</strong>
                        <h6 class="min-w-7"><strong>Enseignants</strong></h6>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if doctorants %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-user-graduate fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{doctorants}}</strong>
                        <h6 class="min-w-7"><strong>Doctorants</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if inscriptions %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-edit fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{inscriptions}}</strong>
                        <h6 class="min-w-7"><strong>Inscriptions</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if laboratoires %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-microscope fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{laboratoires}}</strong>
                        <h6 class="min-w-7"><strong>Laboratoires</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if sujets %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-scroll fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{sujets}}</strong>
                        <h6 class="min-w-7"><strong>Sujets</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if formations %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-chalkboard-teacher fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{formations}}</strong>
                        <h6 class="min-w-7"><strong>Formations</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if publications %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-book fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{publications}}</strong>
                        <h6 class="min-w-7"><strong>Publications</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        charts
    </div>
    {% endblock %}
    </div>
{% endblock %}