{% extends "base.html" %}
{% load bootstrap5 %}
{% block main %}
    {% include "includes/sidebar.html" %}
    <div class="main-content container-fluid mb-5">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}
    <div class="row">
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-building fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{departements.count}} Départements</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="departements-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-user-tie fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{enseignants.count}} Enseignants</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="enseignants-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-user-graduate fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{doctorants.count}} Doctorants</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="doctorants-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-microscope fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{laboratoires.count}} Laboratoires</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="laboratoires-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-edit fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{inscriptions.count}} Inscriptions</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="inscriptions-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-scroll fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{sujets.count}} Sujets</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="sujets-chart"></canvas></div>
            </div>
        </div>
            <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if departements %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-book fa-3x mr-2"></i>
                    </div>
                    <div class="col text-left">
                        <h3><strong>{{publications.count}} Publications</strong></h3>                       
                    </div>
                </div>
                <div class="row"><canvas  id="publications-chart"></canvas></div>
            </div>
        </div>
        <div class="col my-2 max-w-fit-content p-0">
            <div class="card min-w-max-centent max-w-fit-content p-1 mx-1 {% if formations %}non-{% endif %}empty">
                <div class="row">
                    <div class="col-4" style="font-size: 0.5rem;">
                        <i class="fas fa-chalkboard-teacher fa-7x mr-2"></i>
                    </div>
                    <div class="col-8 text-center">
                        <strong>{{formations.count}}</strong>
                        <h6 class="min-w-7"><strong>Formations</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
<script defer>
new Chart(document.getElementById('departements-chart'),{
        type: 'polarArea',
        data: {
            labels: [{% for dep in departements %}'{{dep.intitule}}',{% endfor %}],
            datasets: [{
            label: 'Laboratoires',
            backgroundColor: [{% for dep in departements %}'{{dep.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for dep in departements %}'{{dep.laboratoires.count}}',{% endfor %}],
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('enseignants-chart'),{
        type: 'doughnut',
        data: {
            labels: [{% for etablissement in etablissements %}'{{etablissement.intitule}}',{% endfor %}],
            datasets: [{
            label: 'Etablissements',
            backgroundColor: [{% for etablissement in etablissements %}'{{etablissement.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for etablissement in etablissements %}'{{etablissement.enseignants.count}}',{% endfor %}],
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('doctorants-chart'),{
        type: 'doughnut',
        data: {
            labels: [{% for pay in pays %}'{{pay.nom}}',{% endfor %}],
            datasets: [{
            label: 'pays',
            backgroundColor: [{% for pay in pays %}'{{pay.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for pay in pays %}'{{pay.doctorants.count}}',{% endfor %}],
            }]
        },
        options: {}
    }
);
new Chart(document.getElementById('inscriptions-chart'),{
        type: 'bar',
        data: {
            labels: [{% for annee in annees %}'{{annee.intitule}}',{% endfor %}],
            datasets: [{
            label: 'Inscriptions / Année',
            backgroundColor: [{% for annee in annees %}'{{annee.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for annee in annees %}'{{annee.inscriptions.count}}',{% endfor %}],
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('laboratoires-chart'),{
        type: 'radar',
        data: {
            labels: [{% for labo in laboratoires %}'{{labo.acronyme}}',{% endfor %}],
            datasets: [{
            label: 'Sujets / Laboratoire',
            backgroundColor: [{% for labo in laboratoires %}'{{labo.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for labo in laboratoires %}'{{labo.sujets.count}}',{% endfor %}],
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('sujets-chart'),{
        type: 'bar',
        data: {
            labels: [{% for annee in annees %}'{{annee.intitule}}',{% endfor %}],
            datasets: [{
            label: 'Sujets / Année',
            backgroundColor: [{% for annee in annees %}'{{annee.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: [{% for annee in annees %}'{{annee.sujets.count}}',{% endfor %}],
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
new Chart(document.getElementById('publications-chart'),{
        type: 'bar',
        data: {
            labels: [{% for annee in annees %}'{{annee.intitule}}',{% endfor %}],
            datasets: [{
            label: 'Publications / Année',
            backgroundColor: [{% for annee in annees %}'{{annee.color}}',{% endfor %}],
            borderColor: '#FFF',
            data: {{publications}},
            }]
        },
    options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    }
);
</script>
{% endblock %}